@import url("https://use.typekit.net/uwe6nvz.css");
::-webkit-scrollbar {
  display: none;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  //-webkit-overflow-scrolling: touch;
  height: 100%;
}
body,
h1 {
  margin: 0;
}
body {
  overflow-x: hidden;
  background-color: ghostwhite;
  scroll-behavior: smooth;
}

* {
  font-family: semplicitapro, sans-serif;
  font-weight: 400;
}

.navbar {
  background-color: rgb(17, 107, 157);
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: right;
  width: 100%;
  height: 7vh;
  background: url("./assets/background.svg") no-repeat fixed;
  position: fixed;
  z-index: 1;
}
a {
  margin-right: 25px;
  position: relative;
  top: 20px;
  color: rgb(248, 248, 255);
  text-decoration: none;
}
.Landing {
  background: url("./assets/background.svg") no-repeat fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .Name {
    color: rgb(248, 248, 255);
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    margin-top: 40vh;
  }
  .Discription {
    color: rgb(223, 223, 229);
    font-size: 16px;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
    height: 200px;
    margin: 0 10px;
  }
  .button_div {
    margin: 7vh auto;
    .scroll_button {
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px;
      color: rgb(223, 223, 229);
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      border-radius: 100px;
      width: 250px;
      height: 50px;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }
    }
  }
}

.Education,
.Experience {
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  text-align: center;

  .hard_header {
    margin: 5vh auto;
  }
  h2 {
    font-size: 32px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  .edu_content {
    height: 90%;
    display: flex;
    flex-direction: column;
  }
  .content_row {
    display: flex;
    flex-direction: row;
  }
  .edu_time {
    background-color: ghostwhite;
    width: 41vw;
    margin-left: 30px;
  }
  .edu {
    width: 59vw;
    padding-bottom: 40px;
  }
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
  }
  .border {
    border-width: 0;

    border-image: linear-gradient(to bottom, #0064a6, rgba(0, 0, 0, 0)) 1 100%;
    border-left: 3px solid;
  }
  .dot {
    height: 10px;
    width: 10px;
    background-color: #08456d;
    border-radius: 50%;
    margin-left: -6px;
    margin-top: -5px;
  }
  .dotInline::after {
    content: "";
    height: 10px;
    width: 10px;
    background-color: #08456d;
    border-radius: 50%;
    position: absolute;
    margin-top: 6px;
    margin-left: 5px;
  }

  h3.left {
    font-size: 16px;
    letter-spacing: 2px;
    width: 90%;
    text-align: right;
    margin-bottom: 20px;
    margin-top: -2px;
    transition: all 0.3s ease-in-out;
  }
  .notActive {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  .hidden {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    height: 0;
  }
  .show {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
  h4.left {
    font-size: 14px;
    letter-spacing: 1px;
    width: 90%;
    text-align: right;
    font-weight: 700;
  }

  h3.right {
    font-size: 16px;
    letter-spacing: 2px;
    width: 80%;
    text-align: left;
    margin-bottom: 20px;
    margin-top: -12px;
    margin-left: 20px;
    font-weight: 700;
  }

  h4.right {
    font-size: 14px;
    letter-spacing: 1px;
    width: 80%;
    text-align: left;
    line-height: 24px;
    margin: 10px 10px 10px 20px;
  }
}
.gradient {
  text-transform: uppercase;
  background: linear-gradient(to right, #2702c9 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow {
  margin: 0 auto;
  animation: move 1.5s ease-in-out infinite;
  height: 100px;
}

.landing_desc {
}

@keyframes move {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

.Skills,
.Contact {
  background-image: linear-gradient(#0064a6, #009996);
  padding-top: 5vh;
  height: 93vh;

  .emphasis_header {
    color: rgba(248, 248, 255, 1);
    font-weight: 500;
    //text-decoration: underline;
  }
  .line {
    height: 2px;
    background: white;
    animation: dude 2s 1 forwards;
  }
  @keyframes dude {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  .emphasis {
    color: rgba(248, 248, 255, 1);
    font-weight: 500;
  }
  .skill_header {
    margin: 5vh auto;
    & h2 {
      color: white;
      font-size: 32px;
      letter-spacing: 3px;
      font-weight: 500;
    }
  }

  .grid_header {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 60px;
    display: grid;
    grid-template-areas: "science_header deep_header data_header dev_header";
    grid-gap: 10px;
    color: rgba(248, 248, 255, 0.5);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    .science_header {
      grid-area: science_header;
      transition: all 0.3s ease-in-out;
      position: relative;
      width: 120px;
    }
    .deep_header {
      grid-area: deep_header;
      transition: all 0.3s ease-in-out;
      width: 120px;
    }
    .data_header {
      grid-area: data_header;
      transition: all 0.3s ease-in-out;
      width: 120px;
    }
    .dev_header {
      grid-area: dev_header;
      transition: all 0.3s ease-in-out;
      width: 120px;
    }
  }

  .grid_table {
    width: 80%;
    height: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
      "deep sql html geo"
      "git python keras net"
      "r tensor hadoop liner"
      "recurrent js baysian scala"
      "forcast rein css transformer"
      "node time arch react"
      "nlp spark tableau image";
    grid-gap: 10px;
    transition: all 0.3s ease-in-out;

    color: rgba(248, 248, 255, 0.5);
    .deep {
      grid-area: deep;
      transition: all 0.3s ease-in-out;
    }
    .sql {
      grid-area: sql;
      transition: all 0.3s ease-in-out;
    }
    .html {
      grid-area: html;
      transition: all 0.3s ease-in-out;
    }
    .geo {
      grid-area: geo;
      transition: all 0.3s ease-in-out;
    }

    .git {
      grid-area: git;
      transition: all 0.3s ease-in-out;
    }
    .python {
      grid-area: python;
      transition: all 0.3s ease-in-out;
    }
    .keras {
      grid-area: keras;
      transition: all 0.3s ease-in-out;
    }
    .net {
      grid-area: net;
      transition: all 0.3s ease-in-out;
    }

    .r {
      grid-area: r;
      transition: all 0.3s ease-in-out;
    }
    .tensor {
      grid-area: tensor;
      transition: all 0.3s ease-in-out;
    }
    .hadoop {
      grid-area: hadoop;
      transition: all 0.3s ease-in-out;
    }
    .liner {
      grid-area: liner;
      transition: all 0.3s ease-in-out;
    }

    .recurrent {
      grid-area: recurrent;
      transition: all 0.3s ease-in-out;
    }
    .js {
      grid-area: js;
      transition: all 0.3s ease-in-out;
    }
    .baysian {
      grid-area: baysian;
      transition: all 0.3s ease-in-out;
    }
    .scala {
      grid-area: scala;
      transition: all 0.3s ease-in-out;
    }

    .forcast {
      grid-area: forcast;
      transition: all 0.3s ease-in-out;
    }
    .rein {
      grid-area: rein;
      transition: all 0.3s ease-in-out;
    }
    .css {
      grid-area: css;
      transition: all 0.3s ease-in-out;
    }
    .transformer {
      grid-area: transformer;
      transition: all 0.3s ease-in-out;
    }

    .node {
      grid-area: node;
      transition: all 0.3s ease-in-out;
    }
    .time {
      grid-area: time;
      transition: all 0.3s ease-in-out;
    }
    .arch {
      grid-area: arch;
      transition: all 0.3s ease-in-out;
    }
    .react {
      grid-area: react;
      transition: all 0.3s ease-in-out;
    }

    .nlp {
      grid-area: nlp;
      transition: all 0.3s ease-in-out;
    }
    .spark {
      grid-area: spark;
      transition: all 0.3s ease-in-out;
    }
    .tableau {
      grid-area: tableau;
      transition: all 0.3s ease-in-out;
    }
    .image {
      grid-area: image;
      transition: all 0.3s ease-in-out;
    }
  }
}
.space {
  padding-top: 20px;
}
.narrow {
  height: 25%;
}
.Projects {
  padding-top: 5vh;
}
.Contact {
  height: 90vh;
}
.contact_left {
  width: 50vw;
  margin-left: 30px;
}
h3.contact_name {
  font-size: 28px;
  letter-spacing: 2px;
  width: 90%;
  text-align: right;
  margin-bottom: 20px;
  margin-top: -2px;
}
h4.contact_name {
  font-size: 16px;
  letter-spacing: 2px;
  width: 90%;
  text-align: right;
  margin-bottom: 20px;
  margin-top: -2px;
}
.contact_content {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.contact_right {
  width: 50vw;
  padding-bottom: 40px;
}
h4.contact_detail {
  font-size: 14px;
  letter-spacing: 1px;
  width: 80%;
  overflow-wrap: break-word;

  text-align: left;
  line-height: 24px;
  margin: 10px 10px 10px 20px;
  & a {
    top: 0;
    color: black;
    text-decoration: underline;
  }
}
.Projects {
  background-color: ghostwhite;
}
.icons {
  display: flex;

  width: 60%;
  justify-content: left;
  margin-left: 20px;
}

@media (max-width: 700px) {
  .navContainer {
    height: 8vh;
  }
  .Landing .Name {
    margin-top: 30vh;
  }
  .Contact {
    & .contact_content {
      & .content_row {
        flex-direction: column;
        & .contact_left {
          width: 90vw;
          margin: 0 auto;
        }
        & .contact_right {
          width: 90vw;
          margin: 0 auto;

          text-align: right;
          & .contact_detail {
            text-align: right;
          }
        }
      }
    }
    .icons {
      width: 10vw;
      margin-left: 75%;
    }
  }
  .Education .hidden,
  .Experience .hidden {
    display: none;
  }
  .Skills .grid_header,
  .Contact .grid_header {
    width: 60%;
  }
  .Skills {
    height: 150vh;

    .grid_header {
      grid-template-areas:
        "science_header deep_header"
        "data_header    dev_header";
    }
    .grid_table {
      grid-template-areas:
        "deep sql"
        "html geo"
        "git python"
        " keras net"
        "r tensor "
        "hadoop liner"
        "recurrent js "
        "baysian scala"
        "forcast rein"
        " css transformer"
        "node time"
        " arch react"
        "nlp spark "
        "tableau image";
    }
  }
}

// .container {
//   overflow: scroll;
//   height: 100vh;
//   scroll-snap-type: y proximity;
// }

// .child {
//   scroll-snap-align: end;
//   position: relative;
// }
